NEXT_PUBLIC_ADMIN_WALLET_ADDRESS=bc1pcqlf3lhesmfrrzhpzln8m2n8qa6hdkxuuljhvfnhx70q8deg8essncezzm
DATABASE_URL="file:./db.sqlite"
NEXT_PUBLIC_API_URL=https://kjx6qebivbxiacxakfdzb3zbq40qkzvq.lambda-url.us-east-1.on.aws/
NEXT_PUBLIC_CREATE_PSBT_API=https://fqd4sqcsdvfsu3h6ojxippky5q0eayfr.lambda-url.us-east-1.on.aws/
NEXT_PUBLIC_CREATE_TOTAL_COUNT_API=https://m2xb2dscodle2pcij4mhphwpda0klcqx.lambda-url.us-east-1.on.aws/
